body{
	background-color: #f3f3f3;
	padding-bottom: 5rem;
	padding: 0;
	list-style: none;
	margin: 0;
	box-shadow: boder-box;
	text-decoration: none;
}
.header{
	background-color: black;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
}
.header img{
     width: 20px;
}
.header ul{
	list-style: none;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0 2rem;
}
.header ul li{
	position: relative;
}
.header ul a.header-link{
	display: block;
	width: 100%;
	color: #FFCCCC;
	text-transform: uppercase;
	padding: 0 1rem;
	text-decoration: none;
}
.header ul a.header-link:hover{
    background-color:#83C75D;
    font-weight: bold;
    font-size: 15px;
}
.header ul li .some{
    display: none;
    position: absolute;
    background-color: #FF6699;
    min-width: 12rem;
    box-shadow: 0 0 12px gray;
    padding-bottom: 5rem;
    border-radius: 0 0 2px 2px;
}
.header ul li .some a{
	display: block;
	width: 95%;
	height: 3rem;
	color: #685402;
	line-height: 3rem;
	padding: 0 5px;
	text-decoration: none;
}
.header ul li:hover .some{
    display: block;
}
.header ul li .some a:hover{
    background-color: rgb(110, 226, 255);
    font-weight: 700;
}
.blue{
    color: rgb(43, 43, 224);
    margin-right: 2px;
}
.red{
    color: rgb(224, 43, 43);
    margin-right: 2px;
}
.orange{
    color: rgb(207, 126, 21);
    margin-right: 2px;
}
.green{
    color: rgb(58, 224, 43);
    margin-right: 2px;
}
.body{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    color: rgb(88, 87, 87);
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 12px gray;
    border-radius: 3px;
}
.body-title{
	margin: 1.5rem 0;
    width: 60%;
    font-family: cursive;
}
.body-content{
	display: flex;
}
.content-left{
    width: 40%;
    padding: .5rem;
    text-align: justify;
}
 .content-left img, .content-left video{
    width: 100%;
}
.content-left h3{
            margin: 1rem 0;
}
.content-left span{
    color: rgb(156, 156, 156);
    margin: 1rem 0;
    display: block;
}
.content-right{
    width: 60%;
    padding-left: 2.5rem;
    padding-top: 1rem;
}
.right-item{
    display: flex;
    padding-bottom: 1rem;
    margin: 1rem 0;
}
.border-dashed{
    border-bottom: 2px dashed rgb(133, 2, 122);
}
.item1{
	width: 8rem;
    height: 8rem;
    font-size: 60px;
    color: #fff;
    text-align: center;
    line-height: 8rem;
}
.bg-1{
    background-color: rgb(255, 87, 227);
}
.bg-2{
    background-color: rgb(245, 176, 49);
}
.bg-3{
    background-color: rgb(16, 248, 16);
}
.item-content{
    padding-left: 2rem;
    font-family: cursive;
}
.item-content h1{
    margin-bottom: .5rem;
}
table th, table td{
    text-align: center;
    padding: 0.5rem 0.3rem;
}
table span{
    display: inline !important;
}
table img{
    width: 20px !important;
}
.line{
    background: rgb(231,6,219);
    background: linear-gradient(332deg, rgba(231,6,219,1) 0%, rgba(212,202,51,1) 29%, rgba(223,255,151,1) 57%, rgba(118,200,255,1) 100%);
    width: 100%;
    height: 3px;
}
.Final{
    width: 90%;
    padding: 2rem;
    margin: auto;
    text-align: center;
    background-color: rgb(100 180 159);
    margin-top: 3rem;
}
.Final .Final-Last{
    display: flex;
    width: 100%;
    margin-top: 1rem;
}
.Final .Final-Last .input{
    width: 50%;
    padding: 0 .5rem;
}
.input input{
    width: 100%;
    border: none;
    outline: none;
    padding: .7rem .5rem;
    border-radius: 10px;
}
.item2{
    padding: 0 .5rem;
}
.Final textarea{
    width: 100%;
    margin-top: 2rem;
    border: none;
    outline: none;
    padding: .8rem .5rem;
    border-radius: 10px;
    min-height: 10rem;
    resize: none;
}
.item2 .button{
    margin-top: 1rem;
    width: 100%;
    padding: .8rem ;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #353535;
    color: white;
    font-size: 18px;
}